annotated-types==0.7.0
asgiref==3.11.1
cffi==2.0.0
contextlib2==21.6.0
cryptography==47.0.0
django==4.2.30
django-ninja==1.6.2
django-ninja-extra==0.31.4
django-ninja-jwt==5.4.4
injector==0.24.0
pillow==11.3.0
pycparser==2.23
pydantic==2.13.3
pydantic-core==2.46.3
pydantic-settings==2.11.0
pyjwt==2.12.1
python-dotenv==1.2.1
sqlparse==0.5.5
typing-extensions==4.15.0
typing-inspection==0.4.2
